<nav class="filter-navigation-wrapper">
  <ul class="filters">
    <app-filter-item *ngFor="let filterItem of details.filters"
    [filter]="filterItem"  (click)="getFilter(filterItem)">
    </app-filter-item>
  </ul>
</nav>
  <div class="grid-container">
    <app-content-item class="grid-item" *ngFor="let detailItem of filterDetails"
    [detail]="detailItem" [class.grid-item__active]="selectedItem === detailItem"
    (click)="getStore(detailItem, detailContent)" >
    </app-content-item>
    <app-detail-content #detailContent [hidden]="detailOpen" [detailInfo]="selectedItem" >
      <span class="" #detailContent>Lorem</span>
    </app-detail-content>
  </div>
  <app-botton-show-more class="grid-container" (click)="showMore()">
  </app-botton-show-more>
<app-viewed-cards (onChanged)="getStore($event, detailContent)">

</app-viewed-cards>


