<footer class="footer">
  <div class="footer-grid">
    <div class="footer-grid__item footer__item-logo">
      <img title="Hrodno" src="../../../assets/images/enterprise.png" alt="Hrodno" width="80">
    </div>
    <div class="footer-grid__item footer__item-address">
      <h6>Tourist Information Center in Grodno</h6>
      <p>Republic of Belarus, Grodno, Ozheshko st., 38</p>
      <p> +375 152 44 44 95</p>
      <p>grodnortss@gmail.com</p>
    </div>
    <div class="footer-grid__item footer__item-social">
      <app-social></app-social>
    </div>
  </div>
</footer>
