<div class="detail-item" *ngIf="!detailOpen">
  <div class="detail-item__block detail-item__block--first" >
    <div class="detail-item__image"><img [src]="'../../assets/images/' +  detailInfo.image " ></div>
    <div class="detail-item__body">
      <h1 class="detail-item__heading">{{ detailInfo.title }}</h1>
      <div class="detail-item__text">
        <p>
          <span>
          {{ detailInfo.description }}
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="detail-item__block detail-item__block--last">
    <div class="detail-item__body">
      <h1 class="detail-item__heading">{{ detailInfo.title }}</h1>
      <div class="detail-item__text">
        <p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2139.035212800731!2d23.829554911900203!3d53.682518590651085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sru!2sby!4v1573078097067!5m2!1sru!2sby"  style="border:0;" allowfullscreen=""></iframe>    </div>
  </div>
</div>
