.detail-container {
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  display: block;
  border-bottom: 40px solid #262626;
  height: 100%;
}

.detail-container-grid {
  max-width: 1550px;
  float: left;
}

.detail-container--grid:after {
  content: "";
  display: table;
  clear: both;
}

.detail-item__block {
  float: left;
  width: 100%;
}

.detail-item__block--last {
  background-color: #e7e8e9;
  position: relative;
}

.detail-item__image {
  width: 100%;
  position: relative;
}

.detail-item__image:before {
  display: block;
  content: "";
  float: left;
  padding-top: 100%;
}

.detail-item__image img {
  vertical-align: middle;
}

img {
  max-width: 100%;
}

.detail-item__body {
  padding: 20px;
}

.detail-item__heading {
  margin-bottom: 10px;
  font-size: 1.625rem;
  line-height: 30px;
}

.detail-item__text span {
  font-size: 0.875rem;
}

.detail-item:after {
  content: "";
  display: block;
  clear: both;
}

.detail-item__block--last:before {
  display: block;
  float: left;
  content: "";
}

iframe {
  width: 350px;
  height: 350px;
}

@media screen and (min-width: 640px) {
  .detail-item__block--first {
    width: 35%;
  }

  .detail-item__block--last {
    width: 65%;
  }
}

@media screen and (min-width: 960px) {
  .detail-item__text span {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .detail-item__block--last:before {
    padding-top: 50%;
  }

  iframe {
    width: 550px;
    height: 450px;
  }
}
