<div class="content-wrapper">
  <flash-messages></flash-messages>
  <div class="wallpaper">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-7 col-md-6 col-lg-5 mx-auto">
          <div class="card">
            <div class="card-body">
              <h3 class="text-center pb-4 pt-3">
                <i class="ion-md-person-add"></i>
                Sign up
              </h3>
              <form (submit)="onSubmit()">
                <div class="form-group">
                  <input type="email" name="email" [(ngModel)]="email" placeholder="Email" class="form-control input-lg"
                         required>
                  <span class="ion ion-ios-at form-control-icon"></span>
                </div>
                <div class="form-group">
                  <input type="password" name="password" [(ngModel)]="password" placeholder="Password"
                         class="form-control input-lg" required>
                  <span class="ion ion-ios-key form-control-icon"></span>
                </div>
                <input type="submit" value="Sign up" class="btn btn-primary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
