
<div id="container">
  <header class="header">
    <a href="/">
      <div class="logo"></div>
    </a>
    <nav class="navigation" role="navigation">
      <ul class="navigation__list">
        <li class="navigation__link">
          <a href="/">About us</a>
        </li>
        <li class="navigation__link">
          <a href="/">Contact</a>
        </li>
        <li class="navigation__link">
            <a id="login" class="btn" href="">Sign in</a>
        </li>
        <li class="navigation__link">
          <a id="registration" class="btn" href="">Sign up</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="content-wrapper">
    <div class="wallpaper">
      <div class="wallpaper_wrapper">
        <h1 class="wallpaper_title">Welcome to Grodno</h1>
        <span>for everyone</span>
      </div>
    </div>
    <app-navigation></app-navigation>
    <app-main></app-main>
  </div>
  <footer class="footer">
    <div class="footer__layout">
      <section class="footer-group">
        <div class="footer__logo">
          <img title="Hrodno" src="" alt="Hrodno">
        </div>
        <div class="footer__address">
          <h4>Visit Hrodno</h4>
          <p>City of Hrodno</p>
          <p>Box 12321, 23 33 Hrodno</p>
          <h5>Visiting address</h5>
          <p>Hrodno Visitir Center</p>
        </div>
      </section>

<!--              <section class="footer__form">-->
<!--                <form action="" class="footer__letter-form">-->
<!--                  <fieldset>-->
<!--                    <legend>получать новости</legend>-->
<!--                    <div class="footer__letter-input">-->
<!--                      <input class="footer__letter-input-field" type="text" name="name" placeholder="Имя"-->
<!--                             autocomplete="off">-->
<!--                    </div>-->
<!--                    <div class="footer__letter-input">-->
<!--                      <input class="footer__letter-input-field" type="email" name="e-mail" placeholder="E-mail"-->
<!--                             autocomplete="off">-->
<!--                    </div>-->
<!--                    <a class="button" role="button" type="submit" tabindex="0" href="#">подписаться</a>-->
<!--                  </fieldset>-->
<!--                </form>-->
<!--              </section>-->
    </div>
</footer>
</div>
