.show-more {
  display: block;
  width: calc(100% - 60px);
  background-color: #fff;
  margin: 1em auto;
  text-align: center;
  border: 0.1em solid #262626;
  padding: 0.4em 0;
  max-width: 1430px;
  font-family: FuturaBold, Arial, sans-serif;
  font-size: 0.75em;
  color: #262626;
  transition: background-color .15s linear, color .15s linear;
}

.show-more:hover {
  cursor: pointer;
  background-color: black;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .show-more {
    width: calc(100% - 120px);
  }
}
