<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" >
  <div class="container">
    <a routerLink="/home" class="navbar-brand">HrodnoGuide</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
<i class="fa fa-navicon"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!isLoggedIn && showRegister" class="nav-item">
          <a routerLink="/login" class="nav-link">Sign in</a>
        </li>
        <li *ngIf="!isLoggedIn && showRegister" class="nav-item">
          <a routerLink="/register" class="nav-link">Sign up</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a href="#" class="nav-link">{{ loggedInUser }}</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a href="#" (click)="onLogoutClick()" class="nav-link">Sign out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
