
  <div class="detail-item">
    <div class="detail-item__block detail-item__block--first">
      <div class="detail-item__image"><img src="" alt=""></div>
      <div class="detail-item__body">
        <h1 class="detail-item__heading">{{ detailInfo.title }}</h1>
        <div class="detail-item__text">
          <p>
              <span>
              Lorem
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="detail-item__block detail-item__block--last">
      <div class="detail-item__body">
        <h1 class="detail-item__heading">Guides</h1>
        <div class="detail-item__text">
          <p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d702.7256875303052!2d23.83643317756994!3d53.670539972520665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dfd633941fcaed%3A0xdee23932a5eb1c95!2z0JrQsNGE0LUg0JLQtdGA0LDQvdC00LA!5e0!3m2!1sru!2sby!4v1572533319936!5m2!1sru!2sby" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

          </p>
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>


