<nav class="filter-navigation-wrapper">
  <ul class="filter-navigation">
    <li class="navigation-item">
      <a [routerLink]="[{ outlets: { primary: 'folder/eat', pane: null } }]"
         routerLinkActive="active">
        <app-svg-block [rubric]="'eat'"></app-svg-block>
      </a>
    </li>
    <li class="navigation-item">
      <a [routerLink]="[{ outlets: { primary: 'folder/see', pane: null } }]"
         routerLinkActive="active">
        <app-svg-block [rubric]="'see'"></app-svg-block>
      </a>
    </li>
    <li class="navigation-item">
      <a [routerLink]="[{ outlets: { primary: 'folder/event', pane: null } }]"
         routerLinkActive="active">
        <app-svg-block [rubric]="'guides'"></app-svg-block>
      </a>
    </li>
    <li class="navigation-item">
      <a [routerLink]="[{ outlets: { primary: 'folder/guides', pane: null } }]"
         routerLinkActive="active">
        <app-svg-block [rubric]="'event'"></app-svg-block>
      </a>
    </li>
  </ul>
</nav>
