.wallpaper {
  height: 175px;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../assets/images/wallpapper-grodno.jpg");
  position: relative;
  overflow: hidden;
}

.wallpaper_wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.wallpaper_title {
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
}

.navigation-wrapper {
  width: 100%;
  position: relative;
  z-index: 2;
  max-width: 1550px;
  margin: 0 auto;
}

.navigation {
  text-align: center;
  padding: 0;
  background-color: #fff;
}

.navigation-item {
  width: 23.5%;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.navigation-item a {
  padding: 0;
  box-sizing: border-box;
  display: block;
  margin: 1.25em 0;
}

.social-top {
  display: none;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

@media screen and (min-width: 640px) {
  .wallpaper {
    height: 275px;
  }

  .wallpaper_wrapper {
    margin-top: 25px;
  }

  .wallpaper_title {
    font-size: 2.75em;
  }

  .navigation-item {
    width: 15%;
  }


}

@media screen and (min-width: 992px) {
  .social-top {
    display: block;
    width: 230px;
    position: absolute;
    right: 0;
    top: 10px;
    margin-top: 28px;
  }

}

@media screen and (min-width: 1200px) {
  .wallpaper {
    height: 500px;
  }

  .wallpaper_wrapper {
    padding-bottom: 160px;
  }

  .wallpaper_title {
    font-size: 4.5em;
  }

  .navigation-wrapper {
    padding: 0 60px;
    box-sizing: border-box;
    margin: -200px auto 0;
  }
  .social-top {
    width: 280px;
  }
}
