.grid-container {
  max-width: 1550px;
  font-size: 1rem;
}

.grid-container:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.grid-item {
  box-sizing: border-box;
  color: #fff;
  width: 50%;
  float: left;
  position: relative;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  overflow: hidden;
}

.grid-item:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.grid-item:hover:after {
  background-color: rgba(0, 0, 0, .35);
}

.grid-item:nth-of-type(9n+1) {
  margin-bottom: -1px;
}

.grid-item:nth-of-type(9n+1) {
  width: 100%;
}

.grid-item:nth-of-type(9n+2) {
  width: 100%;
}

.grid-item:nth-of-type(9n+3) {
  width: 50%;
}

.grid-item:nth-of-type(9n+4) {
  width: 50%;
}

.grid-item:nth-of-type(9n+5) {
  width: 50%;
}

.grid-item:nth-of-type(9n+6) {
  width: 50%;
}

.grid-item:nth-of-type(9n+7) {
  width: 100%;
}

.grid-item:nth-of-type(9n+8) {
  width: 100%;
}

.grid-item:nth-of-type(9n+9) {
  width: 100%;
}

.grid-item:nth-of-type(9n+1):before {
  padding-top: 50%;
}

.grid-item:nth-of-type(9n+2):before {
  padding-top: 50%;
}

.grid-item:nth-of-type(9n+3):before {
  padding-top: 100%;
}

.grid-item:nth-of-type(9n+4):before {
  padding-top: 100%;
}

.grid-item:nth-of-type(9n+5):before {
  padding-top: 100%;
}

.grid-item:nth-of-type(9n+6):before {
  padding-top: 100%;
}

.grid-item:nth-of-type(9n+7):before {
  padding-top: 50%;
}

.grid-item:nth-of-type(9n+8):before {
  padding-top: 50%;
}

.grid-item:nth-of-type(9n+9):before {
  padding-top: 50%;
}

.grid-item__title-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px 10px 10px;
  box-sizing: border-box;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .45) 43%, rgba(0, 0, 0, .75));
}

.grid-item__title {
  font-size: 1.25rem;
  width: 100%;
  word-break: break-word;
}

.scrollUp {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 99;
  border: solid 0.05em white;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
}

.scrollUp:hover {
  background-color: #ffffff;
  color: black;
  border: solid 0.05em black;
}

.detail-item__close {
  background-color: #262626;
  margin-top: 0.1em;
  display: block;
  width: 100%;
  float: left;
}

.detail-item__close .close-button {
  background: none;
  border: none;
  height: 2em;
  width: 100%;
  padding: 0 10px;
  text-align: right;
}

.ion-ios-close {
  color: #dddddd;
}

.ion {
  font-size: 2em;
}

@media screen and (min-width: 640px) {
  .grid-container {
    font-size: 1.25rem;
  }

  .grid-item:nth-of-type(9n+1) {
    width: 50%;
  }

  .grid-item:nth-of-type(9n+2) {
    width: 50%;
  }

  .grid-item:nth-of-type(9n+3) {
    width: 25%;
  }

  .grid-item:nth-of-type(9n+4) {
    width: 25%;
  }

  .grid-item:nth-of-type(9n+5) {
    width: 25%;
  }

  .grid-item:nth-of-type(9n+6) {
    width: 25%;
  }

  .grid-item:nth-of-type(9n+7) {
    width: 50%;
  }

  .grid-item:nth-of-type(9n+8) {
    width: 50%;
  }

  .grid-item:nth-of-type(9n+9) {
    width: 50%;
  }

  .grid-item:nth-of-type(9n+1):before {
    padding-top: 100%;
  }

  .grid-item:nth-of-type(9n+2):before {
    padding-top: 50%;
  }

  .grid-item:nth-of-type(9n+3):before {
    padding-top: 100%;
  }

  .grid-item:nth-of-type(9n+4):before {
    padding-top: 100%;
  }

  .grid-item:nth-of-type(9n+5):before {
    padding-top: 100%;
  }

  .grid-item:nth-of-type(9n+6):before {
    padding-top: 100%;
  }

  .grid-item:nth-of-type(9n+7):before {
    padding-top: 50%;
  }

  .grid-item:nth-of-type(9n+8):before {
    padding-top: 50%;
  }

  .grid-item:nth-of-type(9n+9):before {
    padding-top: 50%;
  }
}

@media screen and (min-width: 960px) {
  .grid-container {
    font-size: 1.5rem;
  }

  .grid-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    transition: background-color .15s linear;
  }
}


@media screen and (min-width: 1200px) {
  .grid-container {
    padding: 0 60px;
    box-sizing: border-box;
  }

  .grid-item:nth-of-type(9n+1) {
    width: 40%;
  }

  .grid-item:nth-of-type(9n+2) {
    width: 40%;
  }

  .grid-item:nth-of-type(9n+3) {
    width: 20%;
  }

  .grid-item:nth-of-type(9n+4) {
    width: 20%;
  }

  .grid-item:nth-of-type(9n+5) {
    width: 20%;
  }

  .grid-item:nth-of-type(9n+6) {
    width: 20%;
  }

  .grid-item:nth-of-type(9n+7) {
    width: 40%;
  }

  .grid-item:nth-of-type(9n+8) {
    width: 40%;
  }

  .grid-item:nth-of-type(9n+9) {
    width: 20%;
  }

  .grid-item:nth-of-type(9n+1):before {
    padding-top: 100%;
  }

  .grid-item:nth-of-type(9n+2):before {
    padding-top: 50%;
  }

  .grid-item:nth-of-type(9n+3):before {
    padding-top: 100%;
  }

  .grid-item:nth-of-type(9n+4):before {
    padding-top: 100%;
  }

  .grid-item:nth-of-type(9n+5):before {
    padding-top: 100%;
  }

  .grid-item:nth-of-type(9n+6):before {
    padding-top: 100%;
  }

  .grid-item:nth-of-type(9n+7):before {
    padding-top: 50%;
  }

  .grid-item:nth-of-type(9n+8):before {
    padding-top: 50%;
  }

  .grid-item:nth-of-type(9n+9):before {
    padding-top: 100%;
  }

  .grid-item__title {
    font-size: 1.5rem;
  }
}
