<div class="grid-container">
  <div class="grid-item" *ngFor="let filterCard of filterCards"
       [style.backgroundImage]="'url(../../assets/images/' +  filterCard.image +')'"
       (click)="getDetails(filterCard)">
    <div class="grid-item__title-wrapper">
      <p class="grid-item__title">{{ filterCard.title }}</p>
    </div>
  </div>
  <div class="detail-item__close">
    <div class="close-button">
      <span class="ion ion-ios-close" [hidden]="detailOpen" (click)="detailOpen = true"></span>
    </div>
  </div>
  <app-detail-content [hidden]="detailOpen" [detailInfo]="selectedCards" [detailOpen]="detailOpen">
    <span #spanElement>{{selectedCards?.description}}</span>
  </app-detail-content>
</div>
<app-button-show-more class="grid-container" (click)="showMore()">
</app-button-show-more>
<app-viewed-cards (onChanged)="getDetails($event)">
</app-viewed-cards>
<div [ngStyle]="{'scroll-behavior': 'smooth'}" class="scrollUp" appScrollUp (click)="scrollTop()">
  <span class="ion ion-ios-arrow-up"></span>
</div>


